---
import { CwHeader } from "../components/header.js";
import { CwHeaderLink } from "../components/header-link.js";
const { origin } = Astro.url;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link href="./tailwind-generated.css" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <body>
    <CwHeader>
      <div slot="siteTitle">
        <a class="text-xl text-gray-800 lg:text-2xl hover:text-gray-700 h-card u-url u-uid" rel="me" href={origin}>Debugging Your Brain</a>
      </div>
      <div slot="links">
        <CwHeaderLink href="https://www.caseywatts.com">About Casey</CwHeaderLink>
      </div>
      <div slot="links-right">
        <CwHeaderLink href="#topics">Topics</CwHeaderLink>
        <CwHeaderLink href="#reviews">Reviews</CwHeaderLink>
        <CwHeaderLink href="#preview">Preview</CwHeaderLink>
        <CwHeaderLink href="#resources">Resources</CwHeaderLink>
        <CwHeaderLink href="#buy">Where To Buy</CwHeaderLink>
      </div>
    </CwHeader>
  </body>
</html>
