---
import { CwHeader } from "../components/header.js";
import { CwHeaderLink } from "../components/header-link.js";
import { CwWell } from "../components/well.js";
import { CwPageSection } from "../components/page-section.js";
import { CwHero } from "../components/hero.js";
const { origin } = Astro.url;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link href="./tailwind-generated.css" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <body class="bg-slate-200">
    <CwHeader>
      <div slot="siteTitle">
        <a class="text-xl text-gray-800 lg:text-2xl hover:text-gray-700 h-card u-url u-uid" rel="me" href={origin}>Debugging Your Brain</a>
      </div>
      <div slot="links">
        <CwHeaderLink href="https://www.caseywatts.com">About Casey</CwHeaderLink>
      </div>
      <div slot="links-right">
        <CwHeaderLink href="#topics">Topics</CwHeaderLink>
        <CwHeaderLink href="#reviews">Reviews</CwHeaderLink>
        <CwHeaderLink href="#preview">Preview</CwHeaderLink>
        <CwHeaderLink href="#resources">Resources</CwHeaderLink>
        <CwHeaderLink href="#buy">Where To Buy</CwHeaderLink>
      </div>
    </CwHeader>
    <CwHero />
    <CwHero />
    <CwHero />
    <CwHero />
    <div class="m-auto max-w-3xl p-2">
      <CwPageSection id="topics">
        <div slot="section-heading">What does the book cover?</div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
          <CwWell>
            <div slot="heading">Modeling The Brain</div>
            <div>A discrete mental model of how your mind works, especially around thoughts and emotions.</div>
          </CwWell>
          <CwWell>
            <div slot="heading">Cognitive Behavioral Therapy</div>
            <div>An overview of the most commonly used talk therapy, and how it relates to other concepts.</div>
          </CwWell>
          <CwWell>
            <div slot="heading">Managing The Backlog</div>
            <div>People process challenging experiences through four stages: Aware, Articulated, Validated, and Resolved.</div>
          </CwWell>
          <CwWell>
            <div slot="heading">Introspection & Identifying Inputs</div>
            <div>How to get into a mental state to effectively work with your thoughts and feelings. Identify several specific types of inputs to your brain.</div>
          </CwWell>
          <CwWell>
            <div slot="heading">Experience Processing & Validation</div>
            <div>Principles and techniques you can use to more deeply understand your experiences, and validate them with others.</div>
          </CwWell>
          <CwWell>
            <div slot="heading">Cognitive Restructuring / Refactoring</div>
            <div>The most common unhelpful thought patterns, and how to counter them.</div>
          </CwWell>
        </div>
      </CwPageSection>
    </div>
  </body>
</html>
