---
import { CwHeader } from "../components/header.js";
import { CwHeaderLink } from "../components/header-link.js";
import { CwWell } from "../components/well.js";
import { CwPageSection } from "../components/page-section.js";
import { CwHero } from "../components/hero.js";
const { origin } = Astro.url;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link href="./tailwind-generated.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700&display=swap" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" /></noscript>
    <title>Astro</title>
  </head>
  <body class="bg-slate-200">
    <CwHeader>
      <div slot="siteTitle">
        <a class="text-xl text-gray-800 lg:text-2xl hover:text-gray-700 h-card u-url u-uid" rel="me" href={origin}>Debugging Your Brain</a>
      </div>
      <div slot="links">
        <CwHeaderLink href="https://www.caseywatts.com">About Casey</CwHeaderLink>
      </div>
      <div slot="links-right">
        <CwHeaderLink href="#topics">Topics</CwHeaderLink>
        <CwHeaderLink href="#reviews">Reviews</CwHeaderLink>
        <CwHeaderLink href="#preview">Preview</CwHeaderLink>
        <CwHeaderLink href="#resources">Resources</CwHeaderLink>
        <CwHeaderLink href="#buy">Where To Buy</CwHeaderLink>
      </div>
    </CwHeader>
    <CwHero />
    <div class="m-auto max-w-3xl p-2">
      <CwPageSection>
        <div class="m-auto p-4 text-center">
          <h1 class="text-6xl pb-4">Debugging Your Brain</h1>
          <div class="text-3xl">
            <div>psychology techniques to rewire your brain</div>
            <div>using software development metaphors</div>
          </div>
        </div>
      </CwPageSection>
      <CwPageSection>
        <CwWell>
          <div class="">
            <div class="">
              <img src="/assets/img/Psychology and Software Development.png" alt='A venn diagram of the overlap of psychology and software development. In the intersection is sparkles, labeled "magic."' />
            </div>
            <div>
              <div class="m-4">These computer metaphors will help make Cognitive Behavioral Therapy (CBT) concepts more approachable and memorable. The brain is a complex computer, after all!</div>
              <div class="m-4">Casey Watts studied Neuroscience at Yale University, and he has worked in tech for 10+ years.</div>
            </div>
          </div>
        </CwWell>
      </CwPageSection>
      <CwPageSection id="topics">
        <h2 slot="section-heading">What does the book cover?</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
          <CwWell>
            <div slot="heading"><h3>Stop The Cycle</h3></div>
            <div>How can I stop thinking about the same thing over and over?</div>
          </CwWell>
          <CwWell>
            <div slot="heading"><h3>Clear Your Brain</h3></div>
            <div>How can I get through the "backlog" of unprocessed experiences?</div>
          </CwWell>
          <CwWell>
            <div slot="heading"><h3>Prevention</h3></div>
            <div>How can I prevent myself from getting stuck in the future?</div>
          </CwWell>
        </div>
      </CwPageSection>
    </div>
  </body>
</html>
